/* ------------ Header Styling -------------------- */
header {
  background-color: white;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 1%;
  line-height: 1.6;
}
.nav {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 24px;
  color: #3b4d53;
  text-decoration: none;
}
.nav:hover {
  color: black;
}
.headernav {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 5px;
  color: #3b4d53;
  text-decoration: none;
  padding-right: 20px;
}
.headernav:hover {
  color: black;
  text-decoration: underline;
}
.navbreak {
  padding-right: 20px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #3b4d53;
  display: inline;
}
.socialblock {
  float: right;
}
.socialblock a {
  text-decoration: none;
}
.navsocial {
  cursor: pointer;
  padding-right: 2px;
  height: 30px;
  width: 30px;
}
.navsocial:hover {
  transform: scale(1.2);
}

.navmenu {
  cursor: pointer;
  padding-right: 2px;
  height: 30px;
  width: 30px;
}
.dropbtn {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 24px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
  text-align: center;
}
/* -------------- Body Styling -------------------- */
#wrapper {
  height: 95vh;
  margin-right: auto;
  margin-left: auto;
  border-radius: 6px;
  background-color: #f2f2f2;
}
.bodygrid {
  position: relative;
}
.indexlogo {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
label {
  display: block;
}
input {
  display: block;
}
form em {
  color: red;
}
input[type="radio"] {
  display: inline-block;
}
input[type="email"] {
  width: 100%;
}
input[type="text"] {
  width: 100%;
}
textarea {
  width: 100%;
}
input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
}
/* ---------------- Left Grid Styling -------------- */
.leftgrid {
  position: relative;
}
.leftgrid img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#placeholder-logo-left {
  opacity: 0;
}
#placeholder-logo-left.fadein {
  opacity: 1;
  -webkit-transition: opacity 3.3s ease-in-out;
  -moz-transition: opacity 3.3s ease-in-out;
  -ms-transition: opacity 3.3s ease-in-out;
  -o-transition: opacity 3.3s ease-in-out;
  transition: opacity 3.3s ease-in-out;
}
/* ---------------- Right Grid Styling -------------- */
.rightgrid {
  position: relative;
}
.rightgrid img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#placeholder-logo-right {
  opacity: 0;
}
#placeholder-logo-right.fadein {
  opacity: 1;
  -webkit-transition: opacity 3.3s ease-in-out;
  -moz-transition: opacity 3.3s ease-in-out;
  -ms-transition: opacity 3.3s ease-in-out;
  -o-transition: opacity 3.3s ease-in-out;
  transition: opacity 3.3s ease-in-out;
}
/* ----------------- Footer Styling --------------- */
footer {
  width: 100%;
  height: 100px;
}
.footergrid {
  padding: 10px;
  margin-top: 15px;
  background-color: white;
}
.footergrid a {
  font-family: "Josefin Sans", sans-serif;
  text-decoration: none;
  padding-right: 10px;
  color: #3b4d53;
}
.footergrid p {
  font-family: "Josefin Sans", sans-serif;
  padding-right: 10px;
  color: #e4e2e2;
}
/* ----------------- General Styling --------------- */
html,
body {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  margin: 0px;
}
h1 {
  text-align: center;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #3b4d53;
  max-width: 100%;
}
h2 {
  margin-top: 0px;
  text-align: center;
}
.fltrt {
  float: right;
}
.fltlt {
  float: left;
}
.centeralign {
  text-align: center;
}
/* ---------------------- Form Styling ------------------- */
.formcontainer {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Josefin Sans", sans-serif;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.name_error,
.email_error,
.subject_error,
.message_error,
.username_error,
.password_error,
.passwordrepeat_error {
  color: red;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"],
#form select,
#form textarea,
#form input[type="submit"] {
  font: 400 14px "Josefin Sans", sans-serif;
}

#form {
  background: #f9f9f9;
  padding: 25px;
  margin: 50px 0;
}

#form h3 {
  color: #3b4d53;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 30px;
}

#form h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#form input[type="text"],
#form input[type="password"],
#form input[type="email"],
#form select,
#form textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

#form input[type="text"]:hover,
#form input[type="password"]:hover,
#form input[type="email"]:hover,
#form select:hover,
#form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#form textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#form input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #3b4d53;
  color: #fff;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#form input[type="submit"]:hover {
  background: #1d2629;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#form input[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#form input:focus,
#form textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
.g-recaptcha div {
  width: 100% !important;
  display: inline-block;
}
/* --------------------- Portal Styling -------------------- */
.portalcontent {
  display: grid;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #3b4d53;
  background-color: #f9f9f9;
}
.portalheader {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 7;
}
.portalprofiletitle {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #f4f4f4;
}
.portalcontent h2 {
  margin-top: revert;
}
.portalprofile,
.portalprofile img {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}
.portalbio {
  width: 100%;
  display: grid;
  align-items: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 7;
  text-align: justify;
}
.portalbio p {
  padding: 10px;
}
.portalpayout {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 7;
}
.portalmarketplacetitle {
  grid-row-start: 5;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #f4f4f4;
}
.portalmarketplace,
.portalmarketplace img {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
}
.portallistingchart {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 7;
  align-content: center;
  display: grid;
}
.portallistingtable {
  grid-row-start: 7;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 7;
}
#piechart_3d {
  overflow: hidden;
}
.changecontent {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.changecontentmiddle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.changecontenttext:hover {
  background: #1d2629;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.changecontenttext {
  background-color: #3b4d53;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  cursor: pointer;
}
.changecontentcontainer {
  position: relative;
}
.changecontentcontainer:hover .changecontent {
  opacity: 0.3;
}
.changecontentcontainer:hover .changecontentmiddle {
  opacity: 1;
}
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-content {
  width: 800px;
  height: 500px;
  background-color: white;
  border-radius: 4px;
  position: relative;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  text-align: center;
  align-items: center;
  display: grid;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}
#modalform input[type="file"] {
  padding-bottom: 10px;
}
#modalform input[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #3b4d53;
  color: #fff;
  margin: 10 0 5px;
  padding: 10px;
  font-size: 15px;
}
#modalform input[type="submit"]:hover {
  background: #1d2629;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#modalform input[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#modalform input:focus,
#form textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
#modalform textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#modalform h3 {
  color: #3b4d53;
  font-weight: bold;
  display: block;
  text-align: center;
  font-size: 30px;
}
.sentconfirmation,
.resetconfirmation {
  display: none;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
  border-radius: 10px;
}
/* ---------------------- student Grid ------------------- */
.student-content {
  display: grid;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #3b4d53;
}
.student-content-name {
  font-size: 3vw;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 7;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.student-content-img {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.student-content-blurb {
  width: 100%;
  display: grid;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 7;
  text-align: justify;
}
.student-content-stitle {
  font-size: 2vw;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 0;
}
.student-content-scontent {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  padding-left: 0;
  list-style-type: none;
  display: grid;
}
.student-content-scontent li {
  position: relative;
  margin-bottom: 1vh;
}
.student-content-scontent a {
  text-decoration: none;
  color: #3b4d53;
}
.student-content-scontent img {
  width: 15%;
}
.student-content-scontent p {
  margin: 0;
  left: 18%;
  top: 30%;
  position: absolute;
}
.student-content-rtitle {
  font-size: 2vw;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 7;
  margin-bottom: 0;
}
.student-content-rcontent {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 7;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.slideIMG {
  width: 100%;
}
.profile-slideIMG {
  width: 670px;
  height: 500px;
  object-fit: cover;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* ---------------------- marketplace Grid ---------------------- */
.marketplace-content {
  display: grid;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #3b4d53;
}
.marketplace-content-name {
  font-size: 3vw;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 0;
  margin-top: 0.5em;
}
.marketplace-content-img {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}
.marketplace-content-blurb {
  width: 100%;
  display: grid;
  align-items: center;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 5;
  text-align: justify;
}
.marketplace-content iframe {
  padding-top: 3vh;
  padding-bottom: 2vh;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 300px;
  min-width: 670px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*----------------Marketplace side navigation bar-----------------*/
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: absolute; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #e9e9e9;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
}
/* Active links */
.sidenav a.active {
  background-color: #2164f3;
  color: white;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #217cf3;
  color: #f1f1f1;
}
.sidenav ul {
  list-style-type: none;
  padding: 0;
}

input[type="checkbox"] {
  vertical-align: middle;
}
label,
input {
  display: inline-block;
  vertical-align: middle;
}
/* Search bar */
#searchBar {
  border: 1px solid #eaeaea;
  padding: 5px 5px;
  font-size: 12px;
}
#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: "🔍";
  position: absolute;
  top: 5px;
  right: 5px;
}
/* price slider */

/* --------------- Student/Marketplace Flexbox ------------------ */
.cards {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}
.card {
  display: flex;
  max-width: 190px;
  margin: 1.25em 1.25em 0.3em 0;
}
.card-content {
  flex-direction: column;
  width: 100%;
  border: 1px solid #e4e2e2;
  background-color: white;
}
.card-content:hover {
  background-color: #e4e2e2;
}
.card-content img {
  position: relative;
  width: 100%;
  height: 250px;
}
.card-content p {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #3b4d53;
}
.card-content h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: #3b4d53;
  padding: 10px 5px 0px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-content a {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
/*---------------------Profile-------------------------------*/
.profile-details {
  display: inline-block;
}
.profileimg {
  height: 80px;
  width: 80%;
  margin-top: 80px;
  padding: 20px;
  position: relative;
}
.myDetails {
  list-style-type: none;
  margin: 50px;
}
.profileText {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5vw;
}
/* ------------- Responsivety Styling --------------------- */
.headergrid {
  grid-area: header;
}
.leftgrid {
  grid-area: left;
}
.rightgrid {
  grid-area: right;
}
.bodygrid {
  grid-area: body;
}
.footergrid {
  grid-area: footer;
  z-index: 2;
}
.container {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "left body right"
    "footer footer footer";
}
.portalcontainer {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 18fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header header"
    "left body right"
    "footer footer footer";
}
/*		 		Fullscreen			 */
@media screen and (min-width: 59em) {
  .container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "left body right"
      "footer footer footer";
  }
  .portalcontainer {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      "header header header"
      "left body right"
      "footer footer footer";
  }
  .marketplaceContainer {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "left body"
      "footer footer";
  }
  .navmenu {
    display: none;
  }
  .card {
    width: 33.33%;
  }
  .student-content-blurb {
    padding-left: 1vw;
  }
  .marketplace-content-blurb {
    padding-left: 1vw;
  }
}
/*		 	Tablet/Mobile				 */
@media screen and (max-width: 59em) {
  .nav {
    letter-spacing: 0px;
  }
  .leftgrid {
    display: none;
  }
  .rightgrid {
    display: none;
  }
  .headernav {
    display: none;
  }
  .navbreak {
    display: none;
  }
  .card {
    width: 50%;
  }
  .student-content {
    display: initial;
  }
  .student-content-name {
    font-size: 10vw;
  }
  .student-content-stitle {
    font-size: 6vw;
  }
  .student-content-rtitle {
    font-size: 6vw;
  }
  .marketplace-content {
    display: initial;
  }
  .marketplace-content-name {
    font-size: 10vw;
  }
  .formcontainer {
    position: initial;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
/*		 	Mobile				 */
@media screen and (max-width: 40em) {
  .portalcontainer {
    display: inherit;
  }
  .nav {
    font-size: 20px;
  }
  .socialblock a {
    font-size: 0px;
  }
  .dropdown a {
    font-size: 24px;
  }
  .card {
    width: 100%;
  }
  .pagetitle {
    font-size: 49px;
    white-space: nowrap;
  }
  .marketplace-content iframe {
    min-width: initial;
    width: 100%;
  }
  .portalcontent {
    display: inherit;
  }
  .modal-content {
    text-align: justify;
  }
}
@media screen and (max-height: 900px) {
  .formcontainer {
    position: initial;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
/* ------------------------------------------------ */
