# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\timot\OneDrive - University of Brighton\Year 2\Semester 2\CI536 - Integrated Group Project\Marketplace\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
